#turn {
    width: 150px;
    height: 150px;
}

#candling {
    width: 150px;
    height: 150px;
}

#heater {
    width: 150px;
    height: 150px;
}

label {
    display: block;
}

#cam {
    width: 320px;
    height: 240px;
}

@media only screen and (max-width: 640px) {
    #cam {
        width: 100%;
        height: 75%;
    }
}

#chatbox {
    position: fixed;
    height: 40%;
    right: 10px;
    bottom: 10px;
}

#sponsors {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 250px;
    height: 200px;
}

#cbox {
    position: relative;
    height: 80%;
    bottom: 5px;
}